<a href="https://colab.research.google.com/github/anant1123/Python-exercise-questons/blob/main/python_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))
print(l)

['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198', '2212', '2219', '2226', '2233', '2247', '2254', '2261', '2268', '2282', '2289', '2296', '2303', '2317', '2324', '2331', '2338', '2352', '2359', '2366', '2373', '2387', '2394', '2401', '2408', '2422', '2429', '2436', '2443', '2457', '2464', '2471', '2478', '2492', '2499', '2506', '2513', '2527', '2534', '2541', '2548', '2562', '2569', '2576', '2583', '2597', '2604', '2611', '2618', '2632', '2639', '2646', '2653', '2667', '2674', '2681', '2688', '2702', '2709', '2716', '2723', '2737', '2744', '2751', '2758', '2772', '2779', '2786', '2793', '2807', '2814', '2821', '2828', '2842', '2849', '2856', '2863', '2877', '2884', '2891', '2898', '2912', '2919', '2926', '2933', '2947', '2954', '2961', '2968', '2982', '2989', '2996', '3003', '3017', '3024', '3031', '3038', '3052', '3059', '3066', '3073', '3087', '3094', '3101', '3108', '3122', '3129', '3136', '3143', '3157', '3164', '3171', '3178', '3192', '3199']

Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [ ]:
def fact(n):
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result
print(fact(10))

#or
factorial = lambda n: 1 if n == 0 else n * fact(n - 1)
factorial(9)

3628800

362880

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
n=int(input('enter the number'))
d=dict()
for i in range(1,n+1):
    d[i]=i*i
print(d)

enter the number10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [ ]:
values=input()
l=values.split(',')
t=tuple(l)
print(l)
print(t)

55,88,33,99,44,75,95,48
['55', '88', '33', '99', '44', '75', '95', '48']
('55', '88', '33', '99', '44', '75', '95', '48')

Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

In [ ]:
# prompt: Define a class which has at least two methods:
# getString: to get a string from console input
# printString: to print the string in upper case.
# Also please include simple test function to test the class methods.

class IOString():
  def __init__(self):
    self.str1 = ""

  def get_string(self):
    self.str1 = input()

  def print_string(self):
    print(self.str1.upper())

str1 = IOString()
str1.get_string()
str1.print_string()

gvg
GVG

Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

Hints:
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26)
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
import math
C = 50
H = 30
D_values = input("Please enter the values of D in a comma-separated sequence: ")
D_list = [int(x) for x in D_values.split(',')]
Q_list = []
for D in D_list:
    Q = math.sqrt((2 * C * D) / H)
    Q_list.append(round(Q))
print(",".join(map(str, Q_list)))

Please enter the values of D in a comma-separated sequence: 100,150,180
18,22,24

Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [ ]:
s=str(input('enter the words separated by comma'))
l=s.split(',')
l.sort()
print(l)

enter the words separated by commamy,name,is,anant,khandelwal
['anant', 'is', 'khandelwal', 'my', 'name']

Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [ ]:
q=str(input('enter the sentence seprated with comma'))
l=q.split(',')
for i in l:
  print(i.upper())

enter the sentence seprated with commagasreg,rgg,reg,ergv,ergv,ergv,regv,ergbverdfgvered,rgetd
GASREG
RGG
REG
ERGV
ERGV
ERGV
REGV
ERGBVERDFGVERED
RGETD

Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [ ]:
s=input('enter the sentence ')
l=s.split(' ')
l1=[]
for i in l:
  if i not in l1:
    l1.append(i)
  else:
    continue
l1.sort()
print(' '.join(l1))

enter the sentence anant khandelwal from kota 325201 rajasthan my name is anant khandelwal gssgdrf
325201 anant from gssgdrf is khandelwal kota my name rajasthan

Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010

In [ ]:
b=input('enter the binary numbers ')
l=b.split(',')
for i in l:
  if int(i,2)%5==0:
    print(i)

enter the binary numbers0100,0011,1010,1001
1010

 Write a  Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

In [1]:
n=input('enter the numbers ')
l=n.split(',')
for i in l:
  if l.count(i)==1:
    print(i)
  else:
    print('not all numbers are different')
    break

enter the numbers 55,55,87,69,4,8,7,5,6
not all numbers are different